* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

body {
  font-size: 112.5%;
  font-family: sans-serif;
  background-image: url("/app-companion/design/background_shape_1.svg");
  background-color: #cccccc;
   }
}
