.bg-primary {
  background: var(--color-primary);
}

.header {
  grid-row: 1 / 2;
  overflow: hidden;
  width: 375px;
  height: 59px;
  background-image: url('../../design/background_shape_1.svg');
  position: relative;
}

.subtitle1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-38px, -10px);
  font-size: 12px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  margin-top: 17.41px;
  color: #193251;
}

.main {
  overflow-y: scroll;
  grid-row: 2 / 3;
  margin: 0 auto;
  width: 315px;
}

h3 {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.143;
  color: #193251;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #7589a2;
}

/*CODE BUDDY*/

.code-buddy {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0e4e8;
  border-top: none;
}

.subtitle {
  color: #7589a2;
  font-size: 12px;
  font-weight: 400;
}

.text-box {
  margin: 40px 0;
}

.plus {
  position: relative;
  border-radius: 6px;
  margin-bottom: 20px;
}

.plus-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10px, -10px);
}

.up {
  border: 1px solid #e0e4e8;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.down {
  border: 1px solid #e0e4e8;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.journal {
  border: 1px solid #e0e4e8;
  border-radius: 6px;
  padding: 20px;
}

.journal__star-empty {
  fill: #e0e4e8;
}

.journal__rating__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.journal__box {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background-color: #193251;
}

.journal__box-empty {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background-color: #7589a2;
}

.journal__rating {
  color: #7589a2;
  font-size: 12px;
  font-weight: 400;
}

.motto {
  color: #193251;
  font-size: 16px;
  font-weight: 600;
}

.notes {
  font-size: 14px;
  font-weight: 200;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 11px 30px;
}
