.template {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 59px 1fr 79px;
  height: 820px;
  width: 375px;
  margin: 0 auto;
  gap: 5px;
  overflow: hidden;
}

.bg-primary {
  background: var(--color-primary);
}

.header {
  grid-row: 1 / 2;
  overflow: hidden;
  width: 375px;
  height: 59px;
  background-image: url('../../design/background_shape_1.svg');
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.subtitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-67px, -10px);
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  margin-top: 17.41px;
  color: #193251;
}

.main {
  overflow-y: scroll;
  grid-row: 2 / 3;
  margin: 0 auto;
  width: 315px;
}

h3 {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.143;
  color: #193251;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #7589a2;
}

/*CODE BUDDY*/

.code-buddy {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0e4e8;
  border-top: none;
}

.subtitle {
  color: #7589a2;
  font-size: 12px;
  font-weight: 400;
}

.text-box {
  margin: 40px 0;
}

.plus {
  position: relative;
  border-radius: 6px;
  margin-bottom: 20px;
}

.plus-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10px, -10px);
}

.up {
  border: 1px solid #e0e4e8;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.down {
  border: 1px solid #e0e4e8;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.journal {
  border: 1px solid #e0e4e8;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 20px;
}

.journal__star-empty {
  fill: #e0e4e8;
}

.journal__rating__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.journal__box {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background-color: #193251;
}

.journal__box-empty {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background-color: #7589a2;
}

.journal__rating {
  color: #7589a2;
  font-size: 12px;
  font-weight: 400;
}

.rate_today_button {
  background-color: #ff5a36;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 12px 44px;
  box-shadow: 0px 2px 11px #7589a2;
  margin: 20px auto;
  margin-left: 20%;
}

.motto {
  color: #193251;
  font-size: 16px;
  font-weight: 600;
}

.notes {
  font-size: 14px;
  font-weight: 200;
}

.footer {
  grid-row: 3 / 4;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  width: 335px;
  margin: 0 auto;
  box-shadow: 0 2px 11px 0 #e0e4e8;
  background-color: white;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 11px 30px;
}

.footer p {
  margin-bottom: 30px;
}
